# Ensemble (Voting)

In [1]:
from src.si.data.dataset import Dataset, summary
from src.si.util.cv import CrossValidationScore
import os

In [2]:

DIR = os.path.dirname(os.path.realpath('.'))
filename = os.path.join(DIR, 'datasets/breast-bin.data')
dataset = Dataset.from_data(filename)
summary(dataset)

,A,B,C,D,E,F,G,H,I,Y
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.486409,3.437768,2.866953,1.589413,0.344778
var,7.917053,9.298082,8.819630,8.141527,4.896110,13.099601,5.937114,9.311340,2.937284,0.225906
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000

In [3]:
# Use accuracy as scorring function
from src.si.util.util import accuracy_score

#Decision Tree

In [4]:
from src.si.supervised.dt import DecisionTree

In [5]:
dt =  DecisionTree()

In [6]:
cv = CrossValidationScore(dt,dataset,score=accuracy_score)
cv.run()
cv.to_dataframe()

   Train Sores  Test scores
0     0.958855     0.892857
1     0.958855     0.892857
2     0.958855     0.892857

#Logistic Regression

In [7]:
from src.si.supervised.logistic_regression import LogisticRegression
logreg = LogisticRegression()

In [8]:
cv = CrossValidationScore(logreg,dataset,score=accuracy_score)
cv.run()
cv.to_dataframe()

   Train Sores  Test scores
0     0.710197     0.657143
1     0.710197     0.657143
2     0.710197     0.657143

# KNN

In [9]:
from src.si.supervised.KNN import KNN

In [10]:
knn = KNN(7)

In [11]:
cv = CrossValidationScore(knn,dataset,score=accuracy_score)
cv.run()
cv.to_dataframe()

   Train Sores  Test scores
0     0.985689     0.964286
1     0.985689     0.964286
2     0.985689     0.964286

In [12]:
def fvote(preds):
    return max(set(preds), key=preds.count)

In [13]:
from src.si.supervised.ensemble import Ensemble
en = Ensemble([dt,logreg,knn],fvote,accuracy_score)

In [14]:
cv = CrossValidationScore(en,dataset,score=accuracy_score)
cv.run()
cv.to_dataframe()

   Train Sores  Test scores
0     0.973166     0.907143
1     0.973166     0.907143
2     0.973166     0.907143